<div class="btn-group mx-auto" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="location.href = '/Home/GuestMenu?id=0'">Home</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/Home/GuestMenu?id=2'">Iniciar Sesión</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/Home/GuestMenu?id=3'">Registrarse</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/Home/GuestMenu?id=9'">Acerca de</button>
</div>
