<div class="btn-group text-center" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/NormalMenu?id=0'">Home</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/NormalMenu?id=10'">Tienda</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/NormalMenu?id=4'">Ver Perfil</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/NormalMenu?id=5'">Editar Perfil</button>
</div>
<div class="w-100 mt-1 d-md-none mt-sm-1"></div>
<div class="btn-group text-center" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary ml-110" onclick="location.href = '/User/NormalMenu?id=1'">Desconectar</button>
</div>

