@section UserMenu{
    @Html.Partial("NormalMenu")
}

<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
        <h1 class="display-3">Zona Usuario</h1>
    </div>
</div>
