<div class="btn-group text-center" style="margin-left: 33px" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/AdminMenu?id=0'">Home</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/AdminMenu?id=8'">Registrar Articulo</button>
</div>
<div class="w-100 mt-1 d-sm-none mt-sm-1"></div>
<div class="btn-group text-center" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/AdminMenu?id=6'">Usuarios</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/AdminMenu?id=7'">Articulos</button>
    <button type="button" class="btn btn-secondary" onclick="location.href = '/User/AdminMenu?id=1'">Desconectar</button>
</div>




